.trivia-item__question {
  text-align: center;
  font-size: 2rem;
}

.trivia-item__answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.trivia-item__button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  background: #6060ff;
  color: white;
  font-size: 1.4rem;
  border-radius: 1rem;
  outline: none;
  border: 3px solid transparent;
  transition: background 0.15s, transform 0.15s, border-color 0.15s;
}

.trivia-item__next-button {
  margin: 1rem auto;
  width: 25%;
}

.trivia-item__button:hover {
  background: #3c3cda;
  transform: rotate(1deg) scale(1.01);
}

.trivia-item__button:active {
  background: #2828a3;
  transform: rotate(2deg) scale(1.02);
}

.trivia-item__button:focus {
  border-color: black;
}

.trivia-item__button.trivia-item__button--disabled {
  background: #c3c3d8;
}

.trivia-item__button.trivia-item__button--correct {
  background: #27bd26;
}

.trivia-item__button.trivia-item__button--incorrect {
  background: #c02626;
}
