html {
  /* font-size is a property that is inherited. */
  font-size: 22px;
}

body {
  /* You can apply multiple style declarations inside of a block. */
  background: url("../images/memphis-colorful-dim.png");
  color: rgb(4, 0, 17);
  max-width: 800px;
  /* This margin auto trick centers block elements. */
  margin: 0 auto;
  /* font-family: "Century Gothic", sans-serif; */
  font-family: "PT Sans", sans-serif;
}

.emoji-list {
  /* list-style: lower-roman; */
  list-style: none;
}

/* ::before is a pseudo-element. */
.emoji-list li::before {
  content: "👉🏽";
  padding-right: 0.5rem;
}

/* Base link state. */
a {
  transition: color 0.15s, background-color 0.15s;
}

/* Unvisited link - which is the default state. :link is a pseudo-class. */
a:link {
  background-color: transparent;
  color: rgb(174, 0, 180);
}

/* Visited link. */
a:visited {
  background-color: transparent;
  color: rgb(148, 0, 153);
}

/* Focused link. */
a:focus {
  background-color: rgb(174, 0, 180);
  color: white;
}

/* Hovered link. */
a:hover {
  background-color: rgb(174, 0, 180);
  color: white;
}

/* 
Inline vs Block:
Some elements that default to block: p, ul, li, nav.
Some elements that default to inline: a, span, img.
*/
p,
ul,
li {
  /* display: inline; */
}
a,
span,
img {
  /* display: block; */
}

/* Box Model Demo */
* {
  /* border: 2px solid white; */
}
h1 {
  /* background-color: white;
  color: black;
  border: 10px solid black;
  padding: 20px;
  margin: 100px; */
}
