@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

html {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

main {
  max-width: 600px;
  margin: 0 auto;
}
