/*
 * This will be our entry point for any app-wide styling. Use it to set up general element-level
 * styles.
 */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-size: 22px;
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}

body {
  background: url("./images/memphis-colorful-dim.png");
  color: rgb(4, 0, 17);
  max-width: 800px;
  margin: 0 auto;
}

button {
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
}

button {
  background: #0c7fdb;
  color: white;
  border: 2px solid #084270;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 0.2rem;
}

button:hover {
  background: #0a67b1;
}

button:active {
  background: #084d85;
}

button:disabled {
  opacity: 0.8;
}

input {
  font-size: 0.75rem;
}

label {
  margin-right: 0.5rem;
}
